@model system_petshop.Models.Exam

@{
    ViewData["Title"] = "Exam";
}

<h2 class="text-center">Create Exam</h2>

<div class="container w-50">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label fw-semibold">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Value" class="form-label fw-semibold">Value</label>
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>

        <div class="d-flex gap-2">
            <input type="submit" value="Create" class="btn btn-primary w-50" />
            <a asp-action="Index" class="btn btn-warning w-50">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
