@model system_petshop.Models.Breed

@{
    ViewData["Title"] = "Breeds";
}

<h2 class="text-center mb-4">Are you sure you want to delete this breed?</h2>

<div class="container w-50">
    <div class="mb-4 d-flex justify-content-between border-bottom pb-1">
        <strong>Name:</strong>
        <span>@Model.Name</span>
    </div>

    <form asp-action="Delete" class="d-flex gap-2">
        <input type="hidden" asp-for="BreedId" />
        <input type="submit" value="Delete" class="btn btn-danger w-50" />
        <a asp-action="Index" class="btn btn-warning w-50">Back to List</a>
    </form>
</div>
