@model IEnumerable<system_petshop.Models.Breed>

@{
    ViewData["Title"] = "Breeds";
}

<h1>Breeds</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">New Breed</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BreedId" class="btn btn-info">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.BreedId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
