@model system_petshop.Models.Consultation

@{
    ViewData["Title"] = "Consultation";
}

<h2 class="text-center">Edit Consultation</h2>

<div class="row">
    <div class="col-md-4 w-50 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" asp-for="ConsultationId" />

            <div class="mb-2">
                <label asp-for="ConsultationDate" class="form-label fw-bold">Consultation Date</label>
                <input asp-for="ConsultationDate" class="form-control" />
                <span asp-validation-for="ConsultationDate" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Note" class="form-label fw-bold"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="AnimalId" class="form-label fw-bold">Animal</label>
                <select asp-for="AnimalId" class="form-select" asp-items="@(ViewData["AnimalId"] as SelectList)"></select>
            </div>

            <div class="mb-2">
                <label asp-for="VeterinarianId" class="form-label fw-bold">Veterinarian</label>
                <select asp-for="VeterinarianId" class="form-select" asp-items="@(ViewData["VeterinarianId"] as SelectList)"></select>
            </div>

            <div class="d-flex gap-2">
                <input type="submit" value="Save" class="btn btn-primary flex-fill" />
                <a asp-controller="Consultation" asp-action="Index" class="btn btn-warning flex-fill">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
