@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Access the <a href="https://github.com/ViniciusCassemira/petshop-system-csharp">repository</a> and rate my project!</p>
</div>
