@model system_petshop.Models.Medicine

@{
    ViewData["Title"] = "Medicine";
}

<h2 class="text-center">Are you sure you want to delete this medicine?</h2>

<div class="container w-50">
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Description:</strong>
        <span>@Model.Description</span>
    </div>
    <div class="mb-4 d-flex justify-content-between border-bottom pb-1">
        <strong>Value:</strong>
        <span>@Model.Value.ToString("F2")</span>
    </div>

    <form asp-action="Delete" class="d-flex gap-2">
        <input type="hidden" asp-for="MedicineId" />
        <input type="submit" value="Delete" class="btn btn-danger w-50" />
        <a asp-action="Index" class="btn btn-warning w-50">Back to List</a>
    </form>
</div>
