@model system_petshop.Models.Animal
@using System.Security.Claims
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    ViewData["Title"] = "Animal";
}

<h1 class="text-center">Register a new Animal</h1>

<div class="row">
    <div class="col-md-4 w-50 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-2">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="DateBirth" class="form-label"></label>
                <input asp-for="DateBirth" type="date" class="form-control" />
                <span asp-validation-for="DateBirth" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="BreedId" class="form-label">Breed</label>
                <select asp-for="BreedId" class="form-select" asp-items="@(ViewData["BreedId"] as SelectList)"></select>
            </div>

            <div class="mb-2">
                <label asp-for="SpeciesId" class="form-label">Species</label>
                <select asp-for="SpeciesId" class="form-select" asp-items="@(ViewData["SpeciesId"] as SelectList)"></select>
            </div>

            <input type="hidden" asp-for="ClientId" value="@userId" />

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary flex-fill">Salvar</button>
                <a asp-action="Index" class="btn btn-secondary flex-fill">Cancelar</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
