@using System.Security.Claims
@model system_petshop.Models.Animal

@{
    ViewData["Title"] = "Animal";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h2 class="text-center">Edit your pet</h2>

<div class="row">
    <div class="col-md-4 w-50 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="AnimalId" />

            <div class="mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="DateBirth" class="control-label"></label>
                <input asp-for="DateBirth" class="form-control" />
                <span asp-validation-for="DateBirth" class="text-danger"></span>
            </div>
            
            <div class="mb-2">
                <label asp-for="BreedId" class="form-label">Breed</label>
                <select asp-for="BreedId" class="form-select" asp-items="@(ViewData["BreedId"] as SelectList)"></select>
            </div>

            <div class="mb-2">
                <label asp-for="SpeciesId" class="form-label">Breed</label>
                <select asp-for="SpeciesId" class="form-select" asp-items="@(ViewData["SpeciesId"] as SelectList)"></select>
            </div>

            <input type="hidden" asp-for="ClientId" value="@userId"/>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary flex-fill">Save</button>
                <a asp-action="AnimalByUser" asp-route-id="@userId" class="btn btn-warning flex-fill">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
